<title>Chatroom</title>

<head>
    <link rel="stylesheet" href="/styles.css">
    <script>
        // const roomId = window.location.pathname.split('/').pop();
        // console.log("Room ID:", roomId);

        function scrollToBottom() {
            const chatContainer = document.getElementById('chatMessages');
            chatContainer.scrollTop = chatContainer.scrollHeight;
        }
        window.onload = scrollToBottom;
    </script>
</head>

<%- include("templates/header") %>


    <div id="chatMessages" style="overflow-y: auto; max-height: 500px; padding-right: 10px;">
        <% for (let i=0; i < messages.length; i++) { %>
            <% if (i==read_count) { %>
                <div class="new-message-divider">
                    <p>----------------You have <%= num_message_behind %> new messages ----------------</p>
                </div>
                <% } %>

                    <div class="message-item <%= messages[i].user_id === user_id ? 'user-message' : 'other-message' %>">
                        <div class="message-header">
                            <span class="username">
                                <%= messages[i].username %>
                            </span>
                            <span class="timestamp">
                                <%= new Date(messages[i].sent_time).toLocaleString('en-US', { hour: '2-digit' ,
                                    minute: '2-digit' , hour12: true }) %>
                            </span>
                        </div>
                        <div class="message-text" style="color: brown;">
                            <%= messages[i].text %>
                        </div>
                    </div>

                    <% } %>
    </div>

    <div>
        <div id="chatInput">
            <form action="/sendMessage" method="POST">
                <input type="hidden" name="roomId" value="<%= room_id %>">
                <input type="text" id="messageInput" name="message" placeholder="Type a message..." required>
                <button type="submit">Send</button>
            </form>
        </div>
        <button onclick="window.location.href = '/invite?room_id=<%= room_id %>'">Invite People</button>
        <button onclick="window.location.href ='/members'" style="float: right;">Go Back</button>
    </div>


    <%- include("templates/footer") %>