<title>Group Chats</title>


<%- include("templates/header", {scripts: ["https://code.jquery.com/jquery-3.6.3.js","/script.js"]}) %>

    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <h3>Hello <%= username %> !</h3>
        <h4>You are in <%= groups.length %> groups.</h4>
        <div id="chats">
            <table id="chatsTable">
                <thead>
                    <tr>
                        <th>Room ID</th>
                        <th>Room Name</th>
                        <th>Latest Message Date</th>
                        <th>Unread Message</th>
                    </tr>
                </thead>
                <tbody>
                    <% groups.forEach(group=> { %>
                        <tr>
                            <td>
                                <%= group.room_id %>
                            </td>
                            <td>
                                <%= group.name %>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <br>
            <button onclick="location.href='/newGroup'">New Group</button>
    </body>

    <%- include("templates/footer") %>