<title>Cerate New Group</title>

<%- include("templates/header", {scripts: ["https://code.jquery.com/jquery-3.6.3.js","/script.js"]}) %>

    <h2>Create a New Group</h2>
    <form action='/createGroup' method='post'>
        <div style="margin-bottom: 10px;">
            Group Name: <input name='groupName' type='text' placeholder='name' required>

            <div class="scroll-box">
                <h> Members to be included: </h>
                <% users.forEach(user=> { %>
                    <div class="item">
                        <input type="checkbox" name="members" value="<%= user.user_id%>" id="<%= user.username %>">
                        <label for="<%= user.user_id %>">
                            <%= user.username %>
                        </label>
                    </div>
                    <% }); %>
            </div>

            <button id="getCheckedUsers">Create</button>
        </div>
    </form>
    <% var message=message || '' ; %>
        <% if (message) { %>
            <p class="message" style="color: darkred;">
                <%= message %>
            </p>
            <% } %>
                <div><button onclick="window.history.back()">Go Back</button></div>